.bar-wrapper {
  rect {
    fill: $bgGreen;
  }

  text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
  }
  div {
    background-color: $bgGreen;
    color:white;
    border-bottom:1px solid white;
    padding-bottom: 1px;
    text-align:right;
  }
}